*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.iml

pids
logs
results
lib-cov
dist

node_modules
npm-debug.log
web/src/definitions
web/src/site
web/src/themes
web/src/semantic.less
web/src/theme.config
web/src/theme.less
web/tasks
web/dist
web/semantic
